#logo {
	background-color: #032a51;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.addDeleteContainer, .moveContainer {
	display: flex;
	gap: 20px;
}

.mostCommonItem-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item {
	transform: scale(0.5);
	width: auto;
	height: auto;
}

.right {
	text-align: center;
	float: right;
	width:70%;
}

.left {
	float: left;
	width:30%;
}

#moveItem {
	width: 250px !important;
}

input::placeholder {
	color: gray;
}
  
input {
	background: #ecf0f3;
	padding: 10px;
	padding-left: 20px;
	height: 50px;
	font-size: 14px;
	border-radius: 50px;
}
  
button {
	margin-top: 20px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 900;
	box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
	transition: 0.5s;
	text-align: center;
}
  
button:hover {
	box-shadow: none;
}

#display {
	font-size: xx-large;
}